@use "@configured-variables" as variables;

// ————————————————————————————————————
// * ——— Perfect Scrollbar
// ————————————————————————————————————

body.v-theme--dark {
  .ps__rail-y,
  .ps__rail-x {
    background-color: transparent !important;
  }

  .ps__thumb-y {
    background-color: variables.$plugin-ps-thumb-y-dark;
  }

  // 👉 Atténuation du texte primaire en mode sombre
  .text-primary {
    color: rgba(var(--v-theme-primary), 0.85) !important;
  }

  // 👉 Liens moins agressifs en mode sombre
  a {
    color: rgba(var(--v-theme-primary), 0.8) !important;
  }
}
